/* Google font -popins  */
@import url('https://fonts.googleapis.com/css2?family=Klee+One&family=Truculenta:opsz,wght@12..72,100..900&display=swap');
/* variables */
:root{
    --header-height:3rem;
    --font-semi:600
}

/* colors */
:root{
    --first-color:#4070f4;
    --second-color:#0e2431;
    --gardient-color:linear-gradient(to right,#5001fb,#8e0af3);

}
/* font style */
:root{
    --body-font:'popins',sans-serif;
    --big-font-size:2rem;
    --h2-font-size:1.5rem;
    --normal-font-size:0.938rem;
}
/* media screen of minimum -width */
@media screen and (min-width:768px) {
    :root{
        --big-font-size:3.5rem;
        --h2-font-size:2rem;
        --normal-font-size:1rem;
    }
    
}
/* margin */
:root{
    --mb-1:0.5rem;
    --mb-2:1rem;
    --mb-3:1.5rem;
    --mb-4:2rem;
    --mb-5:2.5rem;
    --mb-6:3rem;
    
}
/* z-index */
:root{
    --z-back:-10;
    --z-normal:1;
    --z-tooltip:10;
    --z-fixed:100;
}
/* base */
*,
::before,
::before{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    color: var(--second-color);
}
h1,h2,p{
    margin: 0;
}
ul{
    margin: 0;
    padding: 25;
    list-style: none ;
}
